<div class="copy-block row sponsor">
    <div class="large-12 columns">
        <div>
            <h4>Platinum Partner</h4>
        </div>
        <div class="platinum-partner">
            <a href="http://readify.net/" target="_blank" title="Readify">
                <img src="@Url.Content("~/Content/images/sponsor-readify.png")" alt="Readify" />
            </a>
            <a href="http://ndcsydney.com/" target="_blank" title="NDC Sydney">
                <img src="@Url.Content("~/Content/images/sponsor-ndc.png")" alt="NDC Sydney" />
            </a>
        </div>
    </div>
</div>


<div class="copy-block row sponsor">
    <div class="large-12 columns">

        <div>
            <h4>Gold Sponsors</h4>
        </div>

        <div class="gold-sponsor">
            <a href="https://www.progress.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-progress.png")" alt="Progress" />
            </a>

            <a href="https://www.octopus.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-octopus-deploy.png")" alt="Octopus Deploy" />
            </a>

            <a href="https://www.microsoft.com.au/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-msft.png")" alt="Microsoft Australia" />
            </a>

            @*<a href="https://www.campaignmonitor.com/careers/" target="_blank">
                    <img src="@Url.Content("~/Content/images/sponsor-campaignmonitor.png")" alt="Campaign Monitor" />
                </a>
                <a href="https://www.cba.com.au/" target="_blank">
                    <img src="@Url.Content("~/Content/images/sponsor-cba.png")" alt="CBA" />
                </a>*@
        </div>
    </div>
</div>

<div class="sponsor-row">
    <div>
        <h4>Prize Sponsors</h4>
    </div>

    <div class="row">
        <a href="http://aspose.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsor-aspose.png")" alt="Aspose" />
        </a>
    </div>
</div>

@*<div class="copy-block row">
            <div class="large-12 columns">

                <div>
                    <h4>Silver Sponsors</h4>
                </div>

                <div class="silver-sponsor">
                    <a href="http://particular.net/" target="_blank">
                        <img src="@Url.Content("~/Content/images/sponsor-particular.png")" alt="Particular Software" />
                    </a>

                    <a href="http://telerik.com/" target="_blank">
                        <img src="@Url.Content("~/Content/images/sponsor-progress.png")" alt="Telerik" />
                    </a>

                    <a href="http://webdirections.com/" target="_blank">
                        <img src="@Url.Content("~/Content/images/sponsor-web-directions.svg")" alt="Web Directions" />
                    </a>
                </div>
            </div>
        </div>

        <div class="sponsor-row">
            <div class="row gold-sponsor">
                <div class="large-6 columns">
                    <h5>Popcorn for the day</h5>
                    <a href="http://www.xam-consulting.com/" target="_blank">
                        <img src="@Url.Content("~/Content/images/sponsor-xamconsulting.png")" alt="XAM Consulting" />
                    </a>
                </div>
                <div class="large-6 columns">
                        <h5>Afterparty sponsored by</h5>
                        <a href="http://pageuppeople.com/" target="_blank">
                            <img src="@Url.Content("~/Content/images/sponsor-pageup.png")" alt="PageUp People"/>
                        </a>
                    </div>

                <div class="large-6 columns">
                    <h5>Media Partner</h5>
                    <a href="http://www.ssw.com.au/" target="_blank">
                        <img src="@Url.Content("~/Content/images/sponsor-ssw.png")" alt="SSW" />
                    </a>
                </div>
            </div>
    </div>*@

@*<div class="copy-block row">
        <div class="large-12 columns">

            <div>
                <h4>Silver Sponsors</h4>
            </div>

            <div class="silver-sponsor">
                <a href="http://buzzconf.io/" target="_blank">
                    <img src="@Url.Content("~/Content/images/sponsor-buzzconf.png")" alt="BuzzConf"/>
                </a>

                <a href="http://www.ssw.com.au/" target="_blank">
                    <img src="@Url.Content("~/Content/images/sponsor-ssw.png")" alt="SSW"/>
                </a>

                <a href="http://www.compass.edu.au/" target="_blank">
                    <img src="@Url.Content("~/Content/images/sponsor-compass.png")" alt="Compass Education" />
                </a>
            </div>
        </div>
    </div>*@

@*<div class="sponsor-row">
        <div class="row">
            <a href="http://aspose.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-aspose.png")" alt="Aspose" />
            </a>
            <a href="http://pluralsight.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pluralsight.png")" alt="Pluralsight" />
            </a>
        </div>
    </div>*@
